@import '../../../assets/styles/main.scss';

.linkInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 800;
  line-height: 36px;
  text-transform: uppercase;
  gap: 19px;
  width: fit-content;

  &__right {
    position: relative;
    background-color: $mint;
    padding: 17px 17px 27px 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: white;
      left: -10px;
      top: 46%;
    }
  }
}
