@import '../../../assets/styles/main.scss';

.linkInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: calc(14px + 26 * (100vw - 320px) / 1600);
  font-weight: 800;
  line-height: 90%;
  text-transform: uppercase;
  gap: 19px;
  width: fit-content;

  &__right {
    position: relative;
    background-color: $mint;
    padding: 17px 17px 27px 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: white;
      left: -10px;
      top: 46%;
    }
  }

  &__img {
    position: relative;
    width: 25px;
    height: 20px;
  }
}

@media (max-width: 600px) {
  .linkInfo {
    &__right {
      padding: 7px 10px 10px 12px;
      gap: 5px;
    }

    &__img {
      width: 15px;
      height: 10px;
    }
  }
}
