@import '../../../assets/styles/main.scss';

.subtitle {
  display: flex;
  flex-direction: column;
  width: fit-content;

  &__name {
    position: relative;
    color: #fff;
    text-align: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 7.333px;
    text-transform: uppercase;
    opacity: 0.5;

    &:before {
      position: absolute;
      content: '';
      height: 1px;
      background-color: #fff;
      opacity: 0.5;
      width: 80px;
    }
  }

  &__desc {
    color: #fff;
    text-align: right;
    font-size: 40px;
    font-weight: 800;
    line-height: 86px;
    text-transform: uppercase;

    span {
      font-weight: 250;
    }
  }

  &--right {
    align-items: flex-end;

    .subtitle__name {
      &::before {
        top: 50%;
        left: -105px;
      }
    }
  }

  &--left {
    align-items: flex-start;

    .subtitle__name {
      &::before {
        top: 50%;
        left: 105%;
      }
    }
  }
}
