.infoSwiper {
  &__navigation {
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 10;
    width: 100%;
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 77px;

    &-img {
      object-fit: cover;
      width: 100%;
      max-width: 1115px;
    }

    &-block {
      display: flex;
      flex-direction: row;
      align-items: center;

      &--right {
        margin: 112px 0 0 auto;
        align-items: flex-end;
      }
    }

    &-data {
      position: relative;
      height: 780px;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }

  &__info {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 45px;
      justify-content: center;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
  }

  &__nameValue {
    color: #fff;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.5;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  &__value {
    max-width: 242px;
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
  }

  &__airline {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
