.infoSwiper {
  &__navigation {
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 10;
    width: 100%;
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 77px;

    &-img {
      object-fit: cover;
      width: 100%;
      max-width: 1115px;
    }

    &-block {
      display: flex;
      flex-direction: row;
      align-items: center;

      &--right {
        margin: 112px 0 0 auto;
        align-items: flex-end;
      }
    }

    &-data {
      position: relative;
      height: 780px;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }

  &__info {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 45px;
      justify-content: center;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
  }

  &__nameValue {
    color: #fff;
    text-align: right;
    font-size: calc(12px + 6 * (100vw - 320px) / 1600);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.5;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  &__value {
    max-width: 242px;
    color: #fff;
    font-size: calc(16px + 24 * (100vw - 320px) / 1600);
    font-style: normal;
    font-weight: 800;
    line-height: 98%;
    text-transform: uppercase;
  }

  &__airline {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 1200px) {
  .infoSwiper {
    &__airline {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .infoSwiper {
    &__slide {
      &-data {
        height: 500px;
      }
    }
  }
}

@media (max-width: 900px) {
  .infoSwiper {
    &__slide {
      gap: 30px;

      &-block {
        &--right {
          margin: 0px 0 0 auto;
        }
      }
    }

    &__navigation {
      top: 90px;
    }
  }
}

@media (max-width: 700px) {
  .infoSwiper {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
