@import '../../../assets/styles/main.scss';

.mainSwiper {
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 1;

  &::after {
    // content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      62.09% 62.09% at 42.87% 49.23%,
      rgba(34, 34, 34, 0.43) 0%,
      #0f0f0f 100%
    );
    top: 0;
    z-index: 2;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 10;

    &-btn {
      background-color: transparent;
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;

    .swiper {
      height: 100%;

      &-slide {
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .swiper-pagination {
      bottom: 70px;
    }

    .swiper-pagination-bullet {
      width: 200px;
      height: 4px;
      background-color: #ffffff;
      border-radius: 0;
    }

    .swiper-pagination-bullet-active {
      background-color: $mint;
    }

    .swiper-pagination-bullets {
      display: flex;
      flex-direction: row;
      gap: 40px;
      justify-content: flex-end;
    }
  }
}
