.travel {
  &__bottom {
    position: relative;
    margin: 70px 0 311px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__img {
    position: absolute;
    top: -250px;
    right: 0;

    &-container {
      position: relative;
      width: 320px;
      width: calc(220px + 100 * (100vw - 320px) / 1600);
      height: calc(464px + 100 * (100vw - 320px) / 1600);
    }
  }
}
