.map {
  margin-top: 157px;
  position: relative;

  &__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__image {
    position: relative;
    width: calc(100vw - 181px);
    height: calc((100vw - 181px) / 2);
    margin: 0 auto;
  }

  &__flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 7%;
    height: 30%;
  }

  .points {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    .point {
      position: relative;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
