@import '../../../assets/styles/main.scss';

.cardLink {
  color: #fff;
  font-size: calc(20px + 20 * (100vw - 320px) / 1600);
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  &__right {
    position: relative;
    background-color: rgba(74, 246, 205, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: calc(5px + 10 * (100vw - 320px) / 1600);
    gap: 8px;
    transition: background-color 0.3s;

    &::before {
      content: '';
      position: absolute;
      width: calc(10px + 10 * (100vw - 320px) / 1600);
      height: 1px;
      top: 50%;
      left: -8%;
      background-color: #ffffff;
    }
  }

  &__arrow {
    position: relative;
    width: 24px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover {
    .cardLink__right {
      background-color: rgba(74, 246, 205, 1);
    }

    .cardLink__arrow {
      opacity: 1;
    }
  }
}
