@import '../../../assets/styles/main.scss';

.title {
  position: relative;
  width: fit-content;
  max-width: calc(100px + 300 * $size);
  width: 100%;

  &__name {
    color: #fff;
    font-size: calc(30px + 50 * $size);
    text-transform: uppercase;
    text-align: end;
  }

  &__desc {
    position: absolute;
    color: #fff;
    font-size: calc(50px + 150 * $size);
    font-style: normal;
    font-weight: 800;
    line-height: 78%;
    text-transform: uppercase;
    opacity: 0.02;
    top: 30%;
    right: -5%;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 1px;
    background-color: $mint;
  }
}
