@import './reset.scss';
@import './colors.scss';

body {
  background: $black;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #737374;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4c5b5b;
  }

  &::-webkit-scrollbar-track {
    background-color: #969696;
  }
}

.container {
  max-width: 1690px;
  margin: 0 auto;
}
